<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>


        <th>회원번호</th>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>프로필</th>
        <th>삭제</th>
    </tr>
    <tr th:each="member:${memberList}">

        <td th:text="${member.id} " ></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberMobile}"></td>
        <td th:text="${member.memberProfileName}"></td>
        <td><a th:href="@{|/member/adminDelete/${member.id}|}">삭제</a></td>




    </tr>
</table>
</body>
</html>