<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Title</title>
</head>
<body>
<form action="/member/save" method="post" enctype="multipart/form-data">
    <input type="email" name="memberEmail" placeholder="memberEmail">
    <input type="password" name="memberPassword" placeholder="memberPassword">
    <input type="text" name="memberName" placeholder="memberName">
    <input type="tel" name="memberMobile" placeholder="memberMobile">
    <input type="file" name="memberProfileFile" placeholder="memberProfileFile">
    <input type="submit" value="save">
</form>
</body>
</html>