<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<table>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>내용</th>
        <th>조회수</th>
        <th>상세조회</th>
    </tr>
    <tr th:each="board:${pagingList}">

        <td th:text="${board.boardTitle} " ></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardContents}"></td>
        <td th:text="${board.boardHits}"></td>
        <td><img  th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt=""></td>
        <td> <a th:href="@{|/board/detail/${board.id}|}">조회</a></td>


    </tr>
</table>
<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item">
        <a class="page-link" th:href="@{/paging(page=1)}">
        <span>First</span>
        </a>
        </li>
        <li th:class="${pagingList.first} ? 'disabled'" class="page-item">
            <a class="page-link" th:href="${pagingList.first} ? '#' : @{/paging(page=${pagingList.number})}" >
                <span><</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(startPage,endPage)}"
        th:class="${page == pagingList.number + 1} ? 'page-item active'" class="page-item">
            <a class="page-link" th:href="${page}" th:href="@{/paging(page=${page})}"></a>
        </li>
        <li th:class="${pagingList.last} ? 'disabled'">
            <a class="page-link" th:href="${pagingList.last} ? '#' : @{/paging(page=${pagingList.number + 2})}">
                <span>></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/paging(page=${pagingList.totalPages})}"></a>
            <span>Last</span>
        </li>
    </ul>
</div>
</body>
</html>